li{
    margin: 20px
}
button {
    padding: 5px 10px;
    margin: 5px 50px;
    border-radius: 8px;
}

.form-control {
    width: 90%;
    border: 3px solid #164121;
    margin: 10px 50px;
    border-radius: 10px;
    outline: none;
    color: #9DBFAF;
  }